version: '3.8'
services:
  elasticsearch:
    image: kanand1994/insider_es:latest
    container_name: insider_es
    environment:
      - discovery.type=single-node
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
      - xpack.security.enabled=false
    ulimits:
      memlock:
        soft: -1
        hard: -1
    volumes:
      - es-data:/usr/share/elasticsearch/data
    ports:
      - "9200:9200"

  kibana:
    image: kanand1994/insider_kibana:latest
    container_name: insider_kibana
    environment:
      - ELASTICSEARCH_HOSTS=http://elasticsearch:9200
    ports:
      - "5601:5601"
    depends_on:
      - elasticsearch

  trainer:
    image: kanand1994/insider_trainer:latest
    container_name: insider_trainer
    volumes:
      - ./data:/app/data
    environment:
      - ELASTIC_URL=http://elasticsearch:9200
    depends_on:
      - elasticsearch

  detector:
    image: kanand1994/insider_detector:latest
    container_name: insider_detector
    ports:
      - "5000:5000"
    volumes:
      - ./data:/app/data
    environment:
      - ELASTIC_URL=http://elasticsearch:9200
    depends_on:
      - elasticsearch

volumes:
  es-data:
